.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: max-content;
  background-color: #0c1844;
  border-radius: 9pt;
  padding: 1em;

  .phraseGroup {
    padding: 1rem;

    .phrase {
      display: flex;
      min-width: 350px;
      font-size: 2rem;
      justify-content: left;
      color: white;
    }

    button {
      padding: 1em;
      margin: 1em;
      cursor: pointer;
      background-color: transparent;
      border: .2em solid #32F951;
      border-radius: .5em;
      color: saddlebrown;
    }
  }

  .src,
  .dest {
    min-height: 50px;


  }

  .dest {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    border: 1px dashed saddlebrown;
    background-color: white;
    border-radius: 9pt;
    min-width: 450px;
    padding: 5px;
    margin: 5px;
    div {
      padding: 5px 5px;
    }
  }

  .src {
    display: flex;
    min-width: 450px;

    div {
      display: flex;
      min-width: 3rem;
      padding: 5px 5px 5px 0;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      margin: 5px 10px;
      border: 1px solid #684933;
      cursor: pointer;
      background-color: white;
    }
  }
  .buttonWrapper {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
    button {
      font-size: 1.5rem;
      width: max-content;
      padding: .5em 1.2em;
      background-color: #bb153e;
      border-radius: 8pt;
      outline: none;
      border: none;
      transition: 1s;
      &:active {
        transform: scale(0.6);
      }
    }
  }
}
