.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: max-content;
  background-color: #0c1844;
  border-radius: 9pt;
  padding: 1.5em;
  min-width: 270px;

  .phraseGroup {
    padding: 1rem;

    .phrase {
      display: flex;
      min-width: 150px;
      font-size: 2rem;
      justify-content: left;
      color: white;
    }

    button {
      padding: 1em;
      margin: 1em;
      cursor: pointer;
      background-color: transparent;
      border: .2em solid #32F951;
      border-radius: .5em;
      color: saddlebrown;
    }
  }

  .src,
  .dest {
    min-height: 50px;
  }

  .dest {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    border: 2px dashed lightgoldenrodyellow;
    background-color: white;
    border-radius: 9pt;
    min-width: 150px;
    padding: 5px;
    margin: 5px 0;

    .word {
      padding: 5px 5px;
      cursor: move;
    }

    .speech {
      position: absolute;
      right: 10pt;

      span {
        cursor: pointer;
      }

      span:nth-child(2) {
        display: none;
        background-color: saddlebrown;
      }
    }
  }

  .correct {
    border: 2px dashed springgreen;
  }

  .incorrect {
    border: 2px dashed red;
  }

  .src {
    display: flex;
    min-width: 450px;
    margin-top: 10pt;

    div {
      display: flex;
      min-width: 3rem;
      padding: 5px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      border: 1px solid #684933;
      cursor: pointer;
      background-color: white;
      margin-right: 10pt;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    align-items: flex-start;

    button {
      font-size: 1.5rem;
      width: max-content;
      padding: .5em 1.2em;
      background-color: #bb153e;
      border-radius: 8pt;
      outline: none;
      border: none;
      transition: 1s;
      cursor: pointer;

      &:active {
        transform: scale(0.6);
      }
    }
  }
}
