.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
}

ul li {
  margin-left: 3rem;
  text-transform: uppercase;
}

.outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.layout {
  height: 100%;
}

.App-link {
  color: #61dafb;
}
